.idea/
data/**/*.mp4
data/**/*.srt
data/**/*.aep
data/**/*.m4a
data/**/*.wav
data/**/*.mov
data/**/*.vtt
data/**/*.psd
data/[a-z]*/
*.pyc
*-output-*.*
CrashAutoSave.toe
*.dmp

*.xcuserstate
*.xcscmblueprint

*.xcscmblueprint

*.xcuserstate

*.xcbkptlist

processor/testing/*
